<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>Ikatu &mdash; onhondive ikatuve</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">


  <link rel="stylesheet" href="{% static "css/aos.css" %}">

  <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>
      <div class="container">
            <div class="d-flex align-items-center justify-content-between">
              <div class="logo">
                <div class="site-logo">
                  <a href="#" class="js-logo-clone"> <img src="{% static "images/logo.png" %}" height="100" width="100">Ikatu</a>
                  <div class="main-nav d-none d-lg-block">
                      <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                          <li class="active"><a href="/">Inicio</a></li>
                          <li><a href="test">Historia</a></li>
                          <li class="has-children">
                            <a href="#">¿quienes somos?</a>
                            <ul class="dropdown">
                              <li><a href="#">A cerca de</a></li>
                          <li><a href="about">Alcance</a></li>
                          <li><a href="contact">Contactanos</a></li>
                        </ul>
                      </nav>
                    </div>
                    </div>
                




    
    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Costo de Mercado </h2>
                <p> Precio al que se podrían reponer las existencias de un artículo cualquiera se se comparara en la fecha en que se hace la estimación de su valor </p>
              </div>
            </a>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Costo de Producción</h2>
                <p>Valoración monetaria de los gastos incurridos y aplicados en la obtención de un bien. Incluye el costo de los materiales, mano de obra y los gastos indirectos de fabricación cargados a los trabajos en su proceso.</p>
              </div>
            </a>
          </div>



          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Emprender</h2>
                <p>  Emprender es comenzar a hacer X cosa, la cual requiere trabajo, esfuerzo y mucha dedicación. Normalmente se utiliza este termino para referirse a montar un bueno negocio, abrir una empresa, crear una organización, etc.</p>
              </div>
            </a>
          </div>


          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Costo de Oportunidad </h2>
                <p> Sacrificio de las alternativas abandonadas al producir una mercancía o servicio. El beneficio que se sacrifica al no seguir en un curso alternativo de acción. Los Costos de Oportunidad no se registran en las cuentas, pero son importantes al tomar muchos tipos de decisiones comerciales</p>
              </div>
            </a>
          </div>


          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Coste Variable</h2>
                <p> En este caso la variación del costo es en relación a lo producido, es decir que si se aumenta la producción estos costos serán mayores y viceversa. Algunos ejemplos son los del agua, la nafta, la energía, entre otros. </p>
              </div>
            </a>
          </div>


          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Costos indirectos</h2>
                <p>Este tipo de costos tienen consecuencias sobre la producción en forma total, es decir que no puede ser establecido un determinado producto, para ello los costos deben ser repartidos equitativamente. Un ejemplo de este tipo de costo es el aumento en insumos de limpieza de la fábrica o el aumento de los salarios de los trabajadores. </p>
              </div>
            </a>
          </div>


          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Costo Directos </h2>
                <p> En contraposición al caso anterior, estos costos pueden ser asignados a cada bien o servicio en particular. Un ejemplo podría ser el aumento de harina tendría una repercusión directa sobre la producción de pan o el aumento de tinta sobre la producción de libros.</p>
              </div>
            </a>
          </div>


          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Costo de Oportunidad </h2>
                <p> Sacrificio de las alternativas abandonadas al producir una mercancía o servicio. El beneficio que se sacrifica al no seguir en un curso alternativo de acción. Los Costos de Oportunidad no se registran en las cuentas, pero son importantes al tomar muchos tipos de decisiones comerciales</p>
              </div>
            </a>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Dropshipping</h2>
                <p> Podemos definirlo como un tipo de venta utilizadas por tiendas donde el proveedor envía el producto al cliente en nombre de ella. Es decir, que el minorista (la tienda como tal) no guarda los productos, solo es un medio de venta.</p>
              </div>
            </a>
          </div>
         
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Ecommerce</h2>
                <p> También conocido como comercio electrónico, es la compra y venta de productos o servicios utilizando como medio el Internet un otro tipo de red informática</p>
              </div>
            </a>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Coworking </h2>
                <p> Es una forma de trabajo que permite que diferentes profesionales, emprendedores y pymes compartan un espacio laboral para el desarrollo de sus proyectos profesionales. Los empleados se benefician de una comunidad multidisciplinar que potencia proyectos conjuntos.</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>


   
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> no entiendooooo
              with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>